@keyframes gradient-animation {
  0% {
    background-position: 100%; 
  }
  50% {
    background-position: 0%; 
  }
  100% {
    background-position: 100%; 
  }
}

body{
  margin: 0;
  padding: 0;
}

.up, .down{
   border-radius: 10px;
  height: 5px;
   background: linear-gradient(to right, blue, cyan, lightblue, blue);
  background-size: 300% 100%; 
  animation: gradient-animation 3s linear infinite; 
}
#imageCarousel {
  width: 50%;
  
}


.carousel-item img {
  width: 100%;
}
nav{
  position: fixed;
  width: 100vw;
  z-index: 99;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a{
 text-decoration: none;
}
.konten1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#gallery {
  width:  100%; /* Membuat galeri memenuhi tinggi layar */
  /* Menyembunyikan bagian yang keluar */
}
section {
  padding: 100px 20px;
  height: 100vh;
}
#home { background-color: rgb(213, 77, 204); }
#gallery { background-color: lightcoral; }
#about { background-color: lightgreen; }
#contact { background-color: lightgoldenrodyellow; text-align: center; }
#profil{
  background-color: red; text-align: center;
}


















